# Will You Survive the Titanic

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler 
from sklearn.preprocessing import FunctionTransformer
from sklearn.ensemble import RandomForestClassifier  
from sklearn.metrics import classification_report 
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline

In [2]:
df = pd.read_csv('train.csv', sep=",")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [4]:
imputer = SimpleImputer(strategy='most_frequent')
imputer.fit(df[['Embarked']])       
imputer.transform(df[['Embarked']])  
df['Embarked'] = imputer.transform(df[['Embarked']])

In [5]:
one_hot = OneHotEncoder(sparse=False, handle_unknown='ignore')

one_hot.fit(df[['Embarked']])       
df['Embarked'] = one_hot.transform(df[['Embarked']])

In [6]:
df['Cabin'] = df['Cabin'].fillna('X')

In [7]:
df['Sex'] = df['Sex'].replace(['male'],'0')
df['Sex'] = df['Sex'].replace(['female'],'1')

In [8]:
scaler = MinMaxScaler()
scaler.fit(df[['Fare']])                 
df['Fare'] = scaler.transform(df[['Fare']])

In [9]:
def name_length(df):
    length = df[df.columns[0]].str.len()
    return length.values.reshape(-1, 1)

name_transformer = FunctionTransformer(name_length)
name_transformer.fit(df[['Name']])
df['Name'] = name_transformer.transform(df[['Name']])

In [10]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch']]
y = df['Survived']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [12]:
X_train.shape, X_test.shape

((668, 5), (223, 5))

In [13]:
rfc = RandomForestClassifier(n_estimators=100, max_depth=2)
rfc.fit(X_train, y_train)

RandomForestClassifier(max_depth=2)

In [14]:
round(rfc.score(X_train, y_train),3)

0.816

In [15]:
round(rfc.score(X_test, y_test),3)

0.812

In [16]:
y_pred = rfc.predict(X_test)

In [17]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.82      0.88      0.85       134
           1       0.80      0.71      0.75        89

    accuracy                           0.81       223
   macro avg       0.81      0.79      0.80       223
weighted avg       0.81      0.81      0.81       223

In [18]:
def titanic_survival_quiz():
    Age=input('\33[1;34;47m Please enter your age: \n')
    Age = (int(Age))
    Sex = input('\33[1;34;47m Enter 1 for female and 0 for male: \n')
    Sex = (int(Sex))
    Pclass = input('\33[1;34;47m Which class will you be travelling in? 1, 2, or 3? \n')
    Pclass = (int(Pclass))
    SibSp = input('\33[1;34;47m Number of siblings or spouses travelling with you: \n')
    SibSp = (int(SibSp))
    Parch = input('\33[1;34;47m Number of children travelling with you: \n')
    Parch = (int(Parch))
    new_entry = np.array([[Pclass, Sex, Age, SibSp, Parch]])
    rfc.predict(new_entry)
    result = rfc.predict(new_entry)
    if result == 1:
        print("\033[1;32;47m ******* Yay!! You made it!!!!*****   \n")
    else:
        print ("\033[1;31;47m *****Rest in Peace*****   \n")
    print(result)

In [19]:
titanic_survival_quiz()

 Please enter your age:
 50
 Enter 1 for female and 0 for male:
 0
 Which class will you be travelling in? 1, 2, or 3?
 2
 Number of siblings or spouses travelling with you:
 0
 Number of children travelling with you:
 0

 *****Rest in Peace*****

[0]